body{
    background-color: rgb(222, 219, 219);
    margin: 0;
}

#container{
    background-color: black;
    width: 300px;
    margin: 20px auto;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
}

/*Styling for all buttons */
button{
    width: 60px;
    height: 60px;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

#one:active, #two:active, #three:active, #seven:active,
#four:active, #five:active, #six:active, #eight:active,
#nine:active, #dot:active, #zero:active, #clearButton:active{
    background-color: rgb(67, 62, 62);
    color: white;
}

#addButton:active, #subButton:active, #multiplyButton:active,
#divideButton:active, #equalTo:active{
    background-color: rgb(8, 57, 53);
    color: black;
}

.lineFive button{
    width: 135px;
}

#addButton, #subButton, #divideButton, #multiplyButton{
    background-color: rgb(8, 143, 143);
    color: white;
} 

#resetButton{
    background-color: red;
    color: white;
}

#equalTo{
    background-color: rgb(7, 217, 217);
    color: white;
}

.screenContain{
    height: 100px;
    background-color: rgb(25, 22, 22);
    margin: 10px 0;
    color: white;
    text-align: right;
}
#screen{
    font-size: 40px;
}


